Flask==2.3.3
Flask-Caching
Flask-Limiter
Flask-Session==0.5.0
Werkzeug==2.3.7
Pillow
python-dotenv==1.0.0
requests
gunicorn
psycopg2-binary
Flask==2.3.3
Flask-Caching
Flask-Limiter
Flask-Session==0.5.0
gunicorn
Pillow
psycopg2-binary
python-dotenv==1.0.0
requests
Werkzeug==2.3.7
